.discount {
   background-color: var(--background);
}

.discount__box {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding-top: 100px;
   padding-bottom: 110px;
   max-width: 1200px;
}
.discount__quote {
   font-family: "Playfair Display";
   font-weight: 400;
   font-size: 45px;
   line-height: 1.28;
   text-align: left;
   letter-spacing: 0.45px;
   margin-top: 10px;
   margin-bottom: 40px;
   max-width: 445px;
   margin-bottom: 18px;
   margin-top: 10px;
}

.discount__text {
   font-size: 18px;
   line-height: 1.72;
   color: var(--second-color);
   max-width: 541px;
   margin-bottom: 20px;
}

.discount__content {
   display: flex;
}
.discount__list {
   display: flex;
   flex-direction: column;
   background-color: var(--basic-color);
   border-top: 3px solid var(--hover-color);
   border-bottom: 3px solid var(--hover-color);
   border-left: 3px solid var(--hover-color);
   padding: 32px 33px;
   row-gap: 15px;
}
.discount__item {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.discount__item-text {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 14px;
   line-height: 1.5;
   text-transform: uppercase;
}
.discount__item-link {
   font-size: 15px;
   line-height: 1.5;
   letter-spacing: 1.2px;
   color: var(--brand-color);
   padding-left: 35px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
      color: var(--hover-color);
      transform: scale(1.2);
   }
}
.discound__aside-list {
   display: flex;
   flex-direction: column;
   background-color: #1e2c30;
   padding: 22px 25px 29px 25px;
}
.discound__aside-text {
   font-size: 15px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: var(--basic-color);
}

.discound__aside-item:first-child .discound__aside-text::before,
.discound__aside-item:first-child .discound__aside-text::after {
   content: "\2002 \2212 \2002";
}

.discound__aside-item:nth-child(2) .discound__aside-text {
   font-family: "Manrope";
   font-style: normal;
   font-weight: 400;
   font-size: 65px;
   line-height: 78px;
   /* identical to box height, or 120% */

   text-align: center;
   letter-spacing: 0.78px;

   color: #ffffff;
}
