.testimonials {
   background-color: var(--background);
}
.testimonials__box {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 100px;
   padding-bottom: 100px;
}
.testimonials__content {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 22px;
}
.testimonials__text {
   font-family: "Playfair Display";
   font-weight: 400;
   font-size: 45px;
   line-height: 1.28;
   text-align: center;
   letter-spacing: 0.45px;
   margin-top: 10px;
   margin-bottom: 40px;
}
.testimonials__list {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.testimonials__item {
}
.testimonials__item-text {
   padding-left: 30px;
   font-size: 19px;
   line-height: 32px;
   /* or 170% */

   color: #141414;
   width: 523px;
}
.testimonials__item-box {
   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.testimonials__content {
   display: flex;
   padding-left: 30px;
}
.testimonials__content-box{
   display: flex;
}
.testimonials__content-employee{
   display: flex;
   flex-direction: column;
}
.testimonials__img-box {
   display: flex;
}